[Desktop Entry]
Name=Gotify Client
Comment=Desktop Client for Gotify Notifications
Exec=/usr/bin/python3 /home/migbert/proyectos/gotify-client/main.py
Icon=/home/migbert/proyectos/gotify-client/gotify.png
Terminal=false
Type=Application
Categories=Network;Utility;
StartupNotify=true
